docker-pycreds==0.4.0
onnxruntime==1.22.0
google-api-core==2.25.1
googleapis-common-protos==1.70.0
opentelemetry-sdk==1.34.1
zstd==1.5.7.2
jmespath==1.0.1
s3transfer==0.13.0
huggingface-hub==0.33.2
pytz==2025.2
xxhash==3.5.0
certifi==2025.6.15
attrs==25.3.0
opentelemetry-api==1.34.1
validators==0.35.0
pyasn1==0.6.1
prompt_toolkit==3.0.51
sentry-sdk==2.30.0
python-snappy==0.7.3
cachetools==5.5.2
wcwidth==0.2.13
itsdangerous==2.2.0
nvidia-cudnn-cu12==9.5.1.17
tenacity==9.1.2
nvidia-cusparselt-cu12==0.6.3
torchmetrics==1.7.1
pandas==2.3.0
tabulate==0.9.0
apache-libcloud==3.8.0
tzdata==2025.2
shellingham==1.5.4
pfzy==0.3.4
setproctitle==1.3.6
catalogue==2.0.10
argcomplete==3.6.2
nvidia-cusolver-cu12==11.7.1.2
llm-foundry==0.22.0.dev0
wheel==0.45.1
typing-inspection==0.4.1
GitPython==3.1.44
isodate==0.7.2
typer==0.16.0
annotated-types==0.7.0
anyio==4.9.0
iniconfig==2.1.0
networkx==3.5
mlflow-skinny==2.21.3
filelock==3.18.0
coloredlogs==15.0.1
databricks-sdk==0.57.0
cycler==0.12.1
pynvml==11.5.3
soupsieve==2.7
six==1.17.0
mdurl==0.1.2
circuitbreaker==2.1.3
packaging==25.0
boto3==1.38.42
websockets==11.0.3
nvidia-cufile-cu12==1.11.1.6
sqlparse==0.5.3
gitdb==4.0.12
proto-plus==1.26.1
torchvision==0.22.0
nvidia-cuda-nvrtc-cu12==12.6.77
ruamel.yaml.clib==0.2.12
sniffio==1.3.1
pycparser==2.22
questionary==2.1.0
idna==3.10
azure-storage-blob==12.25.1
oci==2.154.3
pillow==11.2.1
smmap==5.0.2
google-cloud-core==2.4.3
azure-identity==1.23.0
click==8.2.1
py-cpuinfo==9.0.0
mlflow==2.21.3
jaxtyping==0.3.2
bcrypt==4.3.0
torch-optimizer==0.3.0
safetensors==0.5.3
Pygments==2.19.2
pytorch-ranger==0.1.1
pyparsing==3.2.3
importlib_metadata==8.7.0
aiosignal==1.3.2
contourpy==1.3.2
urllib3==2.5.0
einops==0.8.1
triton==3.3.0
PyJWT==2.10.1
humanfriendly==10.0
nvidia-curand-cu12==10.3.7.77
aiohttp==3.12.13
cffi==1.17.1
starlette==0.46.2
Flask==3.1.1
Brotli==1.1.0
aiohappyeyeballs==2.6.1
mosaicml-streaming==0.12.0
pydantic==2.11.7
threadpoolctl==3.6.0
markdown-it-py==3.0.0
types-python-dateutil==2.9.0.20250516
nvidia-nccl-cu12==2.26.2
python-dateutil==2.9.0.post0
scipy==1.16.0
greenlet==3.2.3
wadler_lindig==0.1.7
zipp==3.23.0
Jinja2==3.1.6
dill==0.3.8
hyper-connections==0.2.1
rsa==4.9.1
wandb==0.18.7
kiwisolver==1.4.8
protobuf==5.29.5
propcache==0.3.2
fsspec==2025.5.1
pyarrow==19.0.1
sympy==1.14.0
sentencepiece==0.2.0
rotary-embedding-torch==0.8.6
local-attention==1.11.1
nvidia-cusparse-cu12==12.5.4.2
yarl==1.20.1
graphql-relay==3.2.0
mpmath==1.3.0
pytest==8.4.1
joblib==1.5.1
tqdm==4.67.1
frozenlist==1.7.0
Markdown==3.8.2
accelerate==1.7.0
google-resumable-media==2.7.2
nvidia-nvjitlink-cu12==12.6.85
numpy==2.1.3
pip==24.0
Mako==1.3.10
multiprocess==0.70.16
psutil==7.0.0
datasets==3.6.0
nvidia-cuda-runtime-cu12==12.6.77
mosaicml==0.31.0
nvidia-cublas-cu12==12.6.4.1
uvicorn==0.34.3
inquirerpy==0.3.4
msal==1.32.3
coolname==2.2.0
cramjam==2.10.0
platformdirs==4.3.8
flatbuffers==25.2.10
scikit-learn==1.7.0
cloudpickle==3.1.1
requests==2.32.4
h11==0.16.0
omegaconf==2.3.0
ruamel.yaml==0.18.14
pyasn1_modules==0.4.2
tokenizers==0.21.2
arrow==1.3.0
slack_sdk==3.35.0
gunicorn==23.0.0
pydantic_core==2.33.2
google-auth==2.40.3
charset-normalizer==3.4.2
azure-storage-file-datalake==12.20.0
nvidia-cufft-cu12==11.3.0.4
blinker==1.9.0
torch==2.7.0
fastapi==0.115.13
fonttools==4.58.4
regex==2024.11.6
paramiko==3.5.1
einx==0.3.0
msal-extensions==1.3.1
PyNaCl==1.5.0
docker==7.1.0
azure-core==1.34.0
rich==14.0.0
typing_extensions==4.14.0
opentelemetry-semantic-conventions==0.55b1
MarkupSafe==3.0.2
graphql-core==3.2.6
termcolor==3.1.0
nvidia-cuda-cupti-cu12==12.6.80
flash_attn==2.7.4.post1
Werkzeug==3.1.3
onnx==1.18.0
lightning-utilities==0.14.3
PyYAML==6.0.2
setuptools==80.9.0
cryptography==44.0.3
antlr4-python3-runtime==4.9.3
google-crc32c==1.7.1
botocore==1.38.42
nvidia-nvtx-cu12==12.6.77
backoff==2.2.1
graphene==3.4.3
mosaicml-cli==0.7.3
matplotlib==3.10.3
beautifulsoup4==4.13.4
transformers==4.51.3
alembic==1.16.2
multidict==6.5.0
google-cloud-storage==2.10.0
pyOpenSSL==24.3.0
gql==3.5.3
hf_transfer==0.1.9
frozendict==2.4.6
SQLAlchemy==2.0.41
pluggy==1.6.0
hf-xet==1.1.5
